build
.idea
cmake-build-debug
cmake-build-*
duckdb_unittest_tempdir/
.DS_Store
testext
test/python/__pycache__/
.Rhistory
.venv/
vcpkg_installed/
*.o
*.obj
*.a
*.so
*.dylib
*.exe
*.dSYM/
*.ninja_log
*.ninja_deps
